.backButtonContainer {
  width: 100%;
  padding: 36px 24px;
}

.backButton {
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0; 
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.backButton:focus {
  border: 1px dotted var(--White);
}

.backButtonLink {
  text-decoration: none;
  outline: none;
}

.leftArrow {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.leftArrowDark {
  background-image: url('../img/arrow-left-dark.svg');
}

.leftArrowLight {
  background-image: url('../img/arrow-left-light.svg');
}

.detailsFlagContainer {
  padding: 24px 24px 38px;
  border: 1px solid transparent;
}

.detailsFlagImg {
  width: 100%;
}

.detailsCountryInfoContainer {
  padding:0 24px; 
  border: 2px solid transparent;
}

.detailsCountryName {
  margin-bottom: 23px;
}

.detailsCountryText {
  margin-bottom: 14px;
  font-size: .95em;
  font-weight: 300;
}

.detailsCountrySubject {
  font-weight: 600;
}

.detailsCapital {
  margin-bottom: 22px;
}

.detailsLanguages {
  margin-bottom: 36px;
}

.detailsBorderName {
  font-size: 1.10em;
  font-weight: 600;
  margin-bottom: 16px;
}

.detailsBorderContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.borderCountry {
  height: 30px;
  margin: 0 8px 8px 0;
  padding: 7px 24px;
  font-size: .8em;
  border-radius: 2px;
  outline: none;
}

.backButton:hover,
.borderCountry:hover {
  filter: brightness(150%);
}

.countryLink {
  outline:none;
}

.countryLink:focus > .borderCountry {
  border: 1px dotted var(--White);
}