.backButtonContainer {
  width: 100%;
  padding: 36px 24px;
}

.backButton {
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--DarkBlue);
  color: var(--White);
  border: 0;
  box-shadow:  0 0 6px 4px #000;
  border-radius: 2px;
  cursor: pointer;
}

.backButtonLink {
  text-decoration: none;
}

.leftArrow {
  margin-right: 8px;
}

.detailsFlagContainer {
  padding: 24px 24px 38px;
}

.detailsFlagImg {
  width: 100%;
  height: 100%; 
}

.detailsCountryInfoContainer {
  color: var(--White);
}

.detailsCountryInfoContainer {
  padding-left: 24px; 
}

.detailsCountryName {
  margin-bottom: 23px;
}

.detailsCountryText {
  margin-bottom: 14px;
  font-size: .95em;
  font-weight: 300;
}

.detailsCountrySubject {
  font-weight: 600;
}

.capital {
  margin-bottom: 22px;
}

.languages {
  margin-bottom: 36px;
}

.detailsBorderName {
  font-size: 1.10em;
  font-weight: 300;
  margin-bottom: 16px;
}

.detailsBorderContainer {
  height: 30px;
}

.borderCountry {
  background-color: var(--DarkBlue);
  margin-right: 8px;
  padding: 7px 24px;
  font-size: .7em;
}