.backButtonContainer {
  width: 100%;
  padding: 36px 24px;
}

.backButton {
  height: 32px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0; 
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.backButton:focus {
  border: 1px dotted var(--White);
}

.backButtonLink {
  text-decoration: none;
  outline: none;
}

.leftArrow {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.leftArrowDark {
  background-image: url('../img/arrow-left-dark.svg');
}

.leftArrowLight {
  background-image: url('../img/arrow-left-light.svg');
}

.countryDataContainer {
  padding: 0 24px;
}

.detailsFlagContainer {
  padding: 24px 0px 38px;
  border: 1px solid transparent;
}

.detailsFlagImg {
  width: 100%;
}

.detailsCountryInfoContainer {
  border: 2px solid transparent;
}

.detailsCountryName {
  margin-bottom: 23px;
}

.detailsCountryText {
  margin-bottom: 14px;
  font-size: .95em;
  font-weight: 300;
}

.detailsCountrySubject {
  font-weight: 600;
}

.detailsCapital {
  margin-bottom: 22px;
}

.detailsLanguages {
  margin-bottom: 36px;
}

.detailsBorderName {
  font-size: 1.10em;
  font-weight: 600;
  margin-bottom: 16px;
}

.detailsBorderContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.borderCountry {
  height: 30px;
  margin: 0 8px 8px 0;
  padding: 7px 24px;
  font-size: .8em;
  border-radius: 2px;
  outline: none;
}

.backButton:hover,
.borderCountry:hover {
  filter: brightness(150%);
}

.countryLink {
  outline:none;
}

.countryLink:focus > .borderCountry {
  border: 1px dotted var(--White);
}

@media screen and (min-width: 600px) {
  .detailsContainer {
    height: calc(100vh - 80px);
  }

  .backButtonContainer {
    padding: 80px;
  }

  .backButton {
    height: 40px;
    width: 136px;
    border-radius: 6px;
  }

  .countryDataContainer {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
  }

  .detailsFlagContainer {
    padding-top: 0;
    width: 45%;
  }

  .detailsCountryInfoContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .detailsCountryName {
    margin-bottom: 23px;
    font-size: 2.3em;
  }

  .detailsTextContainer {
    display: flex;
  }

  .detailsTextCol1 {
    width: 50%;
  }

  .detailsTextCol2 {
    width: 50%;
  }

  .detailsBorderWrapper {
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
  }

  .detailsBorderName {
    width: 200px;
    padding: 0 8px 0 0;
    margin: 0;
  } 

  .detailsBorderContainer {
    margin: 0;
  }
  
  .borderCountry {
    margin: 0 8px 8px 0;
  }
}