.headerContainer {
  width: 100%;
  padding: 30px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 1em;
}

.modeText {
  position: relative;
  font-size: .85em;
  cursor: pointer;
}

.modeText::before {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  width: 12px;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.moonDark::before {
  background-image: url('./../img/moon.svg');
}

.moonLight::before {
  background-image: url('./../img/moon-outline.svg');
}