.headerContainer {
  width: 100%;
  padding: 28px 16px;
  background-color: var(--DarkBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
}

.headerTitle {
  font-size: 1em;
}

.modeText {
  position: relative;
  font-size: .85em;
}

.modeText::before {
  position: absolute;
  background-image: url('./../img/moon.svg');
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  width: 12px;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--White);
}