.headerContainer {
  width: 100%;
  padding: 30px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
}

.headerTitle {
  font-size: 1em;
}

.modeText {
  position: relative;
  font-size: .85em;
  cursor: pointer;
  outline: none;
}

.modeText:focus {
  border: 1px dotted var(--DarkText);
  border-radius: 4px;
  padding: 0 2px;
}

.modeText::before {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  width: 12px;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.moonDark::before {
  background-image: url('./../img/moon.svg');
}

.moonLight::before {
  background-image: url('./../img/moon-outline.svg');
}

@media screen and (min-width: 600px) {
  .headerContainer {
    padding: 24px 80px;
  }

  .headerTitle {
    font-size: 1.65em;
    letter-spacing: .9px;
  }

  .modeText {
    position: relative;
    font-size: 1.1em;
    cursor: pointer;
  }

  .modeText::before {
    position: absolute;
    background-repeat: no-repeat;
    content: "";
    height: 15px;
    width: 15px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
  }
}