.regionContainer {
  padding: 16px 0;
}

.regionForm {
  width: 50%;
  min-width: 250px;
  cursor: pointer;
  position: relative;
}

.regionHeader {
  padding: 15px 24px;
  margin-bottom: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 300;
  font-size: .9em;
}

.regionHeader:hover {
  color: var(--LightInput);
}

.regionIcon {
  height: 18px;
  width: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.regionIconDark {
  background-image: url('../img/down-dark.svg');
}

.regionIconLight {
  background-image: url('../img/down-light.svg');
}

.regionOptions {
  position: absolute;
  width: 100%;
  padding: 16px 24px;
  list-style: none;
  border-radius: 6px;
  display: none;
}

.region {
  margin-bottom: 6px;
  font-weight: 300;
  font-size: .95em;
}

.oceania {
  margin-bottom: 0;
}

.region:hover {
  color: var(--LightInput);
  cursor: pointer;
}

@media screen and (min-width: 720px) { 
  .regionForm {
    width: 200px;
    height: 56px;
    min-width: auto;
  }

  .regionHeader {
    font-size: 1em;
    padding: 18px 24px;
  }

  .regionIcon {
    background-size: 90%;
  }
}