:root {
  /* Colors */
  /* Neutral */
  --DarkBlue: hsl(209, 23%, 22%);     /* (Dark Mode Elements) */
  --VeryDarkBlue: hsl(207, 26%, 17%); /* (Dark Mode Background) */
  --White: hsl(0, 0%, 100%);          /* (Dark Mode Text & Light Mode Elements) */
  --VeryLightGray: hsl(0, 0%, 98%);   /* (Light Mode Background) */
  --VeryDarkBlue: hsl(200, 15%, 8%);  /* (Light Mode Text) */
  --DarkGray: hsl(0, 0%, 52%);        /* (Light Mode Input) */
  
  /* Colors Labeled By Purpose */
  --DarkElem: hsl(209, 23%, 22%); 
  --DarkBg: hsl(207, 26%, 17%);
  --DarkText: hsl(0, 0%, 100%);
  --DarkInput: #000;
  --LightElem: hsl(0, 0%, 100%);
  --LightBG: hsl(0, 0%, 98%); 
  --LightText: hsl(200, 15%, 8%);
  --LightInput: hsl(0, 0%, 52%);  

  /* Typography */
  /* MainPage */
  --MainSize: 14px;
  
  /* Details Page */
  --DetailsSize: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--DarkInput);
  font-family: 'Nunito Sans', sans-serif;
  font-size: var(--MainSize);
}

img {
  display: block;
}

.darkElem {
  background-color: var(--DarkElem);
}

.darkBg {
  background-color: var(--DarkBg);
}

.darkText {
  color: var(--DarkText);
}

.darkBoxShadow {
  box-shadow: 0 0 10px -4px var(--DarkInput);
}

.inputContainer {
    padding: 0 16px;
  }

@media screen and (min-width: 450px) {

}


@media screen and (min-width: 720px) { 
  .App {
    margin: 0 auto;
    max-width: 1440px;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
  }
}